# Exclude everything inside Notebooks by default
Notebooks/*

# Allow only the 'Python Files' folder and its contents
!Notebooks/Python/
!Notebooks/Python/*

# Explicitly exclude 'Older Files' and 'Colab Notebooks'
Notebooks/Older Files/
Notebooks/Colab Notebooks/